body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.tab {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow {
  display: flex;
  font-size: 25px;
  position: absolute;
  left: 30px;
  color: black;
  transition: all 1s ease-in-out;
}
.back-arrow a {
  color: black;
}
.back-arrow a:hover {
  color: #9356DC;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 10px 0px;
}
.logo img {
  width: 50%;
}

.footer {
  background-color: #353535;
  padding-left: 10px;
  padding-bottom: 20px;
}
.footer .footer__logo {
  filter: invert(1);
  width: 150px;
  margin-left: 20px;
  padding-top: 20px;
}
.footer .footer__links ul {
  margin: 0;
}
.footer .footer__links i {
  color: white;
  width: 20px;
}
.footer .footer__links a {
  color: white;
}
.footer li {
  list-style: none;
  padding: 3px;
  margin-left: -20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.heart {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart--empty {
  position: absolute;
  font-size: xx-large;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart--full {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: xx-large;
  position: absolute;
  opacity: 0;
  transition: all 1s linear;
}
.heart:hover .heart--full {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container .button {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}

button {
  padding: 20px 40px 20px 40px;
  margin: 20px 0px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
}
button:hover {
  filter: brightness(120%) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.loader {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  animation: hidden 0s ease-out 3s;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #eaeaea;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: loading 1s ease;
  animation-iteration-count: 5;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes hidden {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.location {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px #d0d0d0;
}
.location__search {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.location__search i {
  margin-right: 15px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #F2F2F2;
}
.explore .subheading {
  padding: 20px;
}
.explore .info {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-weight: 100;
  font-size: 16px;
}

.subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.howitworks {
  padding: 25px;
  margin: 20px 0px;
}
.howitworks--cards {
  margin-top: 30px;
  padding: 10px;
}
@media all and (min-width: 768px) {
  .howitworks--cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.howitworks .tab {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}
@media all and (min-width: 768px) {
  .howitworks .tab {
    width: 30%;
  }
}
.howitworks .tab__number {
  background-color: #9356DC;
  color: white;
  margin-left: -25px;
  padding: 5px 10px;
  border-radius: 50%;
}
.howitworks .tab__icon {
  padding: 10px;
}
.howitworks .tab__icon i {
  color: #929292;
}
.howitworks .tab__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.howitworks .tab:hover {
  background-color: #F5EDFF;
}
.howitworks .tab:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F2F2F2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .subheading {
  padding: 50px 20px 20px 20px;
  margin-bottom: 15px;
}
@media all and (min-width: 768px) {
  .restaurants .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  .restaurants a {
    width: 45%;
  }
}
.restaurants .card {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 1.5s ease-in-out;
  position: relative;
}
.restaurants .card__image {
  width: 100%;
  height: 200px;
}
.restaurants .card__image__tag {
  color: #0b8d6e;
  background-color: #99E2D0;
  width: 60px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 7px;
}
.restaurants .card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.restaurants .card__bottom .card__text {
  padding: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  width: 70%;
}
.restaurants .card__bottom p {
  margin: 0;
}

.menu-image {
  position: relative;
  z-index: 1;
}

.menu-background {
  background-color: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.menu-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-heading__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 30px;
}

.menu .subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 30px 0 30px 30px;
}
.menu .subheading span-1 {
  border-bottom: 3px solid #99E2D0;
}
@media all and (min-width: 998px) {
  .menu--sections {
    border: 1px solid brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu .tab {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  border-radius: 20px;
}
.menu .tab__text {
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.menu .tab__text strong {
  font-size: 20px;
  font-weight: 500;
}
.menu .tab__text p {
  margin: 0;
  margin-top: 5px;
  font-weight: 200;
}
.menu .tab__price {
  display: flex;
  align-items: end;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
}
.menu .tab .check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  color: white;
  width: 15%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.menu .tab .check i {
  font-size: 25px;
}
.menu .tab:hover .check {
  opacity: 1;
  animation: check 1s ease-in-out;
}
.menu .tab:hover .check i {
  animation: iconrotate 0.5s ease-in-out;
}

@keyframes check {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes iconrotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */