.footer {
    background-color: $blackGrey;
  
    .footer__logo {
      filter: invert(1);
      width: 150px;
      margin-left: 20px;
    }
  
    .footer__links {
      i {
        color: $white;
        width: 20px;
      }
      a {
        color: $white;
      }
    }
  
    li {
      list-style: none;
      padding: 3px;
      margin-left: -20px;
      @include fontroboto;
      font-weight: 400;
    }
  }

  