.footer {

    background-color: $blackGrey;
    padding-left: 10px;
    padding-bottom: 20px;
  
    .footer__logo {
      filter: invert(1);
      width: 150px;
      margin-left: 20px;
      padding-top: 20px;
    }
  
    .footer__links {
      ul{
        margin: 0;
      }
      i {
        color: $white;
        width: 20px;
      }
      a {
        color: $white;
      }
    }
  
    li {
      list-style: none;
      padding: 3px;
      margin-left: -20px;
      @include fontroboto;
      font-weight: 400;
    }
  }