header{
  @include center;
}

.back-arrow{
  display: flex;
  font-size: 25px;
  position: absolute;
  left: 30px;
  color: black;
  transition: all 1s ease-in-out;
  a{
    color: black;
    &:hover{
      color: $primary-colour;
    }
  }
}

.logo {
    @include center;
    padding: 20px 0px 10px 0px;
    img {
      width: 50%;
    }
  }
