.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include center;
    background: linear-gradient(to top right, $secondary-colour, $primary-colour);
    animation: hidden 0s ease 3s;
    animation-fill-mode: forwards;
    
    &::after{
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid $darkGrey;
        border-top-color: $primary-colour;
        border-bottom-color: $secondary-colour;
        border-radius: 50%;
        animation: loading 0.75s ease;
        animation-iteration-count: 5;
    }
}

@keyframes loading {
    from{transform: rotate(0turn);}
    
    to {transform: rotate(1turn);
    }
}

@keyframes hidden{
    to{ opacity: 0;
        visibility: hidden;}
}