.menu-image{
    position: relative;
    z-index: 1;
    height: 500px;
}


.menu-background{
    background-color: $lightGrey;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}

.menu-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__title{
        @include fontshrikhand;
        font-size: 30px;
        margin: 30px;
    }
}

.menu{
    .subheading {
        @include fontroboto;
        font-weight: 200;
        font-size: 16px;
        margin: 30px 0 30px 30px;
        span-1{
            border-bottom: 3px solid $tertiary-colour;
        }
        
    }
    &--sections{
        @include desktop{
            @include flexrow;
            flex-wrap: wrap;
        }
    }
    .tab {
        background-color: $white;
        @include flexrow;
        width: 90%;
        margin: 15px auto;
        border-radius: 20px;
        overflow: hidden;
        @include desktop{
            width: 30%;
        }
        &__text{
            @include fontroboto;
            width: 90%;
            padding: 10px;
            overflow: hidden;
            strong{
                font-size: 20px;
                font-weight: 500;
            }
            p{
                margin: 0;
                margin-top: 5px;
                font-weight: 200;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
            }
        }
        &__price{
            @include flexend;
            @include fontroboto;
            width: 10%;
            padding-right: 10px;
            transition: all 1s ease-in-out;
            }
        .check{
            background-color: $tertiary-colour;
            @include center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-size: 20px;
            color: $white;
            width: 0%;
            transform: translateX(100%);
            overflow: hidden;
            transition: all 1s ease-in-out;
            i{
                font-size: 25px;
            }
        }
        &:hover{
            .tab__price{
                transform: translateX(0);
            }
            .tab__text{
                width: 70%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .check{
                width: 20%;
                transform: translateX(0);
                i{
                    transform: rotate(360deg);
                    transition: all 0.75s ease-in-out;
                }
            }
        }
    }
}


$heading: (
    "subheading__1": 0.5s,
    "subheading__2": 3s,
    "subheading__3": 5.5s,
);

@each $num, $delay in $heading {
    .#{$num}{
        opacity: 0;
        position: relative;
        animation: load 1s ease-in $delay forwards;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

$entres-cards: (
    ".entrees .one": 1s,
    ".entrees .two": 1.5s,
    ".entrees .three": 2s,
    ".entrees .four": 2.5s,
);

$main-cards: (
    ".main .one": 3s,
    ".main .two": 3.5s,
    ".main .three": 4s,
    ".main .four": 4.5s,
);

$dess-cards: (
    ".desserts .one": 5.5s,
    ".desserts .two": 6s,
    ".desserts .three": 6.5s,
    ".desserts .four": 7s,
);

@each $cards in $entres-cards, $main-cards, $dess-cards, {
    @each $num, $delay in $cards {
        #{$num}{
            opacity: 0;
            position: relative;
            animation: delays 1s ease-in $delay forwards;
        }
    }
    
}

@keyframes delays {
    0% {
        opacity: 0;
        position: relative;
        top: 20px;
    }

    100% {
        opacity: 1;
        position: relative;
        top: 0;
    }
}
