.menu-image{
    position: relative;
    z-index: 1;
}


.menu-background{
    background-color: $lightGrey;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}

.menu-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__title{
        @include fontshrikhand;
        font-size: 30px;
        margin: 30px;
    }
}

.menu{
    .subheading {
        @include fontroboto;
        font-weight: 200;
        font-size: 16px;
        margin: 30px 0 30px 30px;
        span-1{
            border-bottom: 3px solid $tertiary-colour;
        }
        
    }
    &--sections{
        @include desktop{
            border: 1px solid brown;
            @include flexrow;
        }
    }
    .tab {
        background-color: $white;
        @include flexrow;
        width: 90%;
        margin: 15px auto;
        padding: 5px;
        border-radius: 20px;
        &__text{
            @include fontroboto;
            margin: 10px;
            strong{
                font-size: 20px;
                font-weight: 500;
            }
            p{
                margin: 0;
                margin-top: 5px;
                font-weight: 200;
            }
        }
        &__price{
            @include flexend;
            @include fontroboto;
            padding-right: 10px;
            }
        .check{
            background-color: $tertiary-colour;
            @include center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-size: 20px;
            color: $white;
            width: 15%;
            opacity: 0;
            transition: all 1s ease-in-out;
            i{
                font-size: 25px;
            }
        }
        &:hover{
            .check{
                opacity: 1;
                animation: check 1s ease-in-out;
                i{
                    animation: iconrotate 0.5s ease-in-out;
                }
            }
        }
    }
}


@keyframes check {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }

    1% {
        opacity: 1;
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes iconrotate {
    0% {
        transform: rotate(-180deg);
    }

    100% { 
        transform: rotate(0deg);}
}