
@mixin fontroboto {
    font-family: 'Roboto', sans-serif;
}

@mixin fontshrikhand{
    font-family: 'Shrikhand', cursive;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexend{
    display: flex;
    align-items: end;
}

@mixin flexSpaceBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex (){
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}



@mixin mobile {
    @media all and (min-width: map-get($media, "mobile")) {
        @content;
    }
}


@mixin tablet {
    @media all and (min-width: map-get($media, "tablet")) and (max-width: map-get($media, "desktop")) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width: map-get($media, "desktop")) {
        @content;
    }
}
