
@mixin fontroboto {
    font-family: 'Roboto', sans-serif;
}

@mixin fontshrikhand{
    font-family: 'Shrikhand', cursive;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex (){
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin desktop{
    @media screen and (min-width :992px) {
        @content;
        
    }
}

@mixin tablet{
    @media screen and (min-width :768px) {
        @content;
        
    }
}